{% extends "base.html" %}
{% block title %}Diabetes Pre-Diagnostics Prediction Service{% endblock %}
{% block content %}

<div class="container mt-4"><!--style="background: linear-gradient(45deg, #EF32FF8E, #2282FF8E);"-->
  <div class="row">
      <!-- Left Column for Text Content -->
      <div class="col-md-8">
          <h2>Understanding Diabetes</h2>
          <p>Understanding the importance of early detection and awareness of diabetes is crucial for both individual well-being and public health. Diabetes, a group of metabolic disorders characterized by elevated blood sugar levels, can have far-reaching consequences if not recognized and managed promptly.</p>
          <p>At its core, early detection of diabetes is vital for preventing a cascade of complications that can arise when blood sugar levels remain uncontrolled. These complications, ranging from cardiovascular diseases to kidney failure, neuropathy, and vision impairment, can severely impact a person's health and quality of life. Early intervention through medication, dietary adjustments, and regular monitoring can help mitigate these risks.</p>
          <br><br><br><p><b><a href="/questions">Early diagnosis</a></b> of diabetes goes hand in hand with an improved quality of life. Managing blood sugar levels effectively allows individuals to lead active, healthier lives, reducing the symptoms of diabetes like excessive thirst, frequent urination, and fatigue.</p>
          <p>Diabetes carries a significant economic burden, and early detection and management can help curb healthcare costs associated with diabetes-related hospitalizations, surgeries, and medications. By controlling the disease in its early stages, individuals can often avoid or minimize the need for costly medical interventions.</p>        
          <p>For those at risk, such as individuals with prediabetes (elevated but not yet diabetic blood sugar levels), early intervention can prevent the progression to full-blown type 2 diabetes. Lifestyle changes, including weight management and improved dietary habits, can delay or even prevent the onset of the disease.</p>     
          <br><br>
          <p style="font-size:30px"> Disclaimer </p>
          <p>We want to reassure our patients that when you use our services, your data is handled with the utmost care and commitment to ethical practices. Your personal information is securely stored within our organization, and we prioritize the protection of your privacy. Rest assured that we adhere to strict data privacy and security standards. Your data may be used for federated learning, which is a privacy-preserving technique that enables us to improve healthcare outcomes without compromising your confidentiality. We are dedicated to harnessing the power of your data for the collective good, following ethical principles and guidelines to ensure your trust and confidence in our services. Your well-being is at the heart of our mission, and we remain steadfast in our commitment to both your health and your privacy.</p>
        </div>
      <!-- Right Column for Images -->
      <div class="col-md-4">
          <!-- First Infographic Div -->
          <div class="infographic">
              <img src="{{ url_for('static', filename='images/diabetes1.jpg') }}" class="img-fluid" alt="Infographic 1">
              <div class="infographic-caption">
                  <p><b>Rapid growth of diabetes in Singapore</b></p>
              </div>
          </div>
          <br>
          <!-- Second Infographic Div -->
          <div class="infographic">
              <img src="{{ url_for('static', filename='images/diabetes3.jpg') }}" class="img-fluid" alt="Infographic 2">
              <div class="infographic-caption">
                  <p><b>Do you want to live your life like that?</b></p>
              </div>
          </div>
          <!-- ... (add more images here) ... -->
      </div>
  </div>
</div>

{% endblock %}
